<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-between mt-2">
            <h3>Tic Tac Toe</h3>
            <a class="btn btn-danger" (click)="newGame($event)" href="#">Reset</a>
        </div>
    </div>
</div>
  <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
          <div class="game-area">
            	<mat-grid-list class="tick-tack-grid" cols="3">
                  <mat-grid-tile *ngFor="let block of gameService.blocks; let i = index; trackBy: trackByFn"
                   (click)="playerClick(i)">
                   <i [class]="block.symbol == 'done' ? 'fa fa-times fa-4x text-success' : (block.symbol != '' ? 'fa fa-circle-thin fa-4x text-danger'  : '' )">
                    </i>
                  </mat-grid-tile>
              </mat-grid-list>  
          </div>
      </div>
  </div> 
  </div>